# Ambiente virtual
venv/
*.zip

# SQLite (banco de dados local)
/djangoapp/db.sqlite3
*.dump

# Configurações locais do servidor
/djangoapp/core/local_settings.py
*/migrations/*.py


# Arquivos compilados do Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Chaves de acesso 
*.pem
*.ppk

# Outros arquivos temporários
*.log
*.DS_Store

#############
.gitignore
/djangoapp/manage.py
