{% extends "partials/base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/create.css' %}">
{% endblock %}

{% block content %}
<section class="form-section">
    <div class="modern-card">

        <div class="form-header">
            <h2>
                {% if form.instance.pk %}
                    Editar: {{ form.instance.nome }}
                {% else %}
                    Novo Cadastro de Animal
                {% endif %}
            </h2>
        </div>

        <form method="post">
            {% csrf_token %}

            <div class="form-grid">

                <div class="form-group">
                    <label>Nome</label>
                    {{ form.nome }}
                </div>

                <div class="form-group">
                    <label>Sexo / Gênero</label>
                    {{ form.genero }}
                </div>

                <div class="form-group">
                    <label>Tanque</label>
                    {{ form.tanque }}
                </div>

                <div class="form-group">
                    <label>Alimentação</label>
                    {{ form.alimentacao }}
                </div>

                <div class="form-group">
                    <label>Pai</label>
                    {{ form.pai }}
                </div>

                <div class="form-group">
                    <label>Mãe</label>
                    {{ form.mae }}
                </div>

                <div class="form-group">
                    <label>Data de Nascimento</label>
                    {{ form.data_de_nasc }}
                </div>

                <div class="form-group">
                    <label>Data de Entrada</label>
                    {{ form.data_entrada }}
                </div>

                <div class="form-group">
                    <label>Identificação</label>
                    {{ form.identificacao }}
                </div>
            </div>

            <div class="form-group mt-3">
                <label>Observações</label>
                {{ form.observacoes }}
            </div>

            <div class="btn-container">
                <a href="{% url 'animais:list_animais' %}" class="btn-cancel">
                    Cancelar
                </a>

                <button type="submit" class="btn-submit">
                    {% if form.instance.pk %}
                        Salvar Alterações
                    {% else %}
                        Confirmar Cadastro
                    {% endif %}
                </button>
            </div>

        </form>

    </div>
</section>
{% endblock %}