{% extends "partials/base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/create.css' %}">
{% endblock extra_css %}

{% block content %}
<section class="form-section">
    <div class="modern-card">
        <div class="form-header">
            <h2>
                {% if form.instance.pk %}
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                        <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.5.5 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11z"/>
                    </svg>
                    Editar Ficha do Animal
                {% else %}
                   <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
                        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3z"/>
                    </svg> 
                    Cadastro de Ficha Clínica
                {% endif %}
            </h2>
        </div>

        {% if form.non_field_errors %}
            <div class="alert alert-danger">
                {% for error in form.non_field_errors %}
                    <p class="mb-0">{{ error }}</p>
                {% endfor %}
            </div>
        {% endif %}

        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            
            <div class="form-grid">
                <div class="form-group">
                    <label for="{{ form.animal.id_for_label }}">Animal</label>
                    {{ form.animal }}
                </div>

                <div class="form-group">
                    <label for="{{ form.motivo.id_for_label }}">Tipo de Ocorrência</label>
                    {{ form.motivo }}
                </div>

                <div class="form-group">
                    <label for="{{ form.status.id_for_label }}">Status da Ficha</label>
                    {{ form.status }}
                </div>

                <div class="form-group">
                    <label for="{{ form.data_entrada.id_for_label }}">Data de Entrada</label>
                    {{ form.data_entrada }}
                </div>

                <div class="form-group">
                    <label for="{{ form.data_saida.id_for_label }}">Data de Saída</label>
                    {{ form.data_saida }}
                    <small class="text-muted">Deixe em branco para preenchimento automático ao fechar.</small>
                </div>

                <div class="form-group">
                    <label for="{{ form.arquivos.id_for_label }}">Anexar Documentos (Selecione um ou vários)</label>
                    {{ form.arquivos }}
                </div>
            </div>

            <div class="form-group ">
                <label for="{{ form.observacoes.id_for_label }}">Histórico / Tratamento Clínico</label>
                {{ form.observacoes }}
            </div>
            {{ form.media }}

            <div class="btn-container mt-4">
                <a href="{% url 'animais:list_animais' %}" class="btn-cancel">Cancelar</a>
                {% if form.instance.status != 'fechada' %}
                    <button type="submit" class="btn-submit">
                        {% if form.instance.pk %}Salvar Alterações{% else %}Confirmar Cadastro{% endif %}
                    </button>
                {% endif %}
            </div>
        </form>
    </div>
</section>

{% endblock content %}